version: "4.0"

services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongodb-volume:/data/db

  mongo-express:
    image: mongo-express:1.0.2
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123
    depends_on:
      - mongodb

  quarkus-app:
    image: nurvanafandi/mongodb-quarkus:latest # <-- Pastikan ini sesuai dengan nama image dan tag Docker Hub kamu
    container_name: mongodb-quarkus-app # Nama container agar mudah diidentifikasi
    ports:
      - "8080:8080" # Map port 8080 dari host ke port 8080 di dalam container
    environment:
      # Variabel lingkungan yang diperlukan oleh aplikasi Quarkus kamu
      # Contoh: koneksi ke database MongoDB atau konfigurasi lainnya
      - MONGODB_HOST=mongodb-server # Jika MongoDB kamu berjalan di service lain dalam docker-compose
      - QUARKUS_HTTP_PORT=8080 # Konfirmasi port HTTP Quarkus
    depends_on:
      - mongodb-server # Jika aplikasi kamu bergantung pada service MongoDB

volumes:
  mongodb-volume: